.link {
    padding: var(--mantine-spacing-xs);
    border-radius: var(--mantine-radius-sm);
    z-index: 1;

    @mixin hover {
        background-color: var(--mantine-color-dark-6);
        color: var(--mantine-color-white);
        transition: background-color 0.1s ease;

    }
}

.activeLink {
    padding: var(--mantine-spacing-xs);
    border-radius: var(--mantine-radius-sm);
    z-index: 1;
    background: #679289;
    color: var(--mantine-color-white);
}

.navbarTextBlurb {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--mantine-spacing-md);
}