.main {
    display: flow-root;
    position: relative;
    z-index: 2;
    pointer-events: none;
}

.navbarContent {
    display: flex;
    height: 100%;
    background-color: black;
    padding-top: var(--mantine-spacing-md);
    padding-bottom: var(--mantine-spacing-md);
    justify-content: center;
}

.header {
    height: 100%;
    padding-left: var(--mantine-spacing-md);
    padding-right: var(--mantine-spacing-md);
    width: 100%;
    justify-content: space-between;
    align-items: center;
    background-color: black;
}

.loader {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.link {
    padding: var(--mantine-spacing-xs);
    border-radius: var(--mantine-radius-sm);
    z-index: 1;

    @mixin hover {
        background-color: var(--mantine-color-dark-6);
        color: var(--mantine-color-white);
        transition: background-color 0.1s ease;

    }
}

.activeLink {
    padding: var(--mantine-spacing-xs);
    border-radius: var(--mantine-radius-sm);
    z-index: 1;
    background: #679289;
    color: var(--mantine-color-white);
}