.segmentControlLarge {
    max-width: 75%;
    margin: 0 auto;
}

.segmentControlSmall {
    max-width: 100%;
    margin: 0 auto;
}

.indicator {
    background-image: linear-gradient(to right,
            var(--mantine-color-teal-filled),
            var(--mantine-color-green-filled));
}