.card {
    height: 150px;
    width: 150px;
    margin: auto;
    display: flex;
    background-color: #000;
    flex-direction: column;
    justify-content: space-between;
    transition: transform 0.1s ease;

    @mixin hover {
        box-shadow: var(--mantine-shadow-xl);
        transform: scale(1.075);
    }
}